<!DOCTYPE html>
<html lang="en">
{{>header}} <!-- Partial link for header -->


<body>
{{>navbar}} <!-- Partial link for Navbar -->

<h1>This page does not exist</h1>

{{>js_links}} <!-- Partial links for javascript -->
</body>
</html>