<!DOCTYPE html>
<html lang="en">
{{>header}} <!-- Partial link for header -->


<body>
{{>navbar}} <!-- Partial link for Navbar -->
<div id="header">
        <div class="container">
            <div class="header-text">
                <h2>Hi I'm</h2>
                <h1><span>D</span>hananjoy <span>M</span>ahata</h1>
                <h2>Web Developer</h2>
                <h2>From India</h2>
                <a href="Images/my-cv.pdf" class="btn " download>Download My CV</a>

            </div>
        </div>
    </div>

{{>js_links}} <!-- Partial links for javascript -->
</body>
</html>