<!DOCTYPE html>
<html lang="en">
{{>header}} <!-- Partial link for header -->


<body>
{{>navbar}} <!-- Partial link for Navbar -->

<div id="Portfolio">
    <div class="title">
        <h2 class="sub-title">My Work</h2>
    </div>
    <div class="work-list">
            <div class="work">
                <img src="../public/images/work-1.png" alt="image"><div class="layer">
                    <h3>Social media App</h3>
                    <p>The app connects you to the tallented people around the world. Download it from playstore.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="../public/images/work-2.png" alt="image">
                <div class="layer">
                    <h3>Music App</h3>
                    <p>Discover new music and stream your favorite songs on the go with our user-friendly and customizable music app.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="../public/images/work-3.png" alt="image">
                <div class="layer">
                    <h3>Online Shopping App</h3>
                    <p>Shop from anywhere at any time with our easy-to-use online shopping app, featuring a wide selection of products and
                    convenient delivery options.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <a href="#" class="btn">See more</a>
</div>


{{>js_links}} <!-- Partial links for javascript -->
</body>
</html>