<!DOCTYPE html>
<html lang="en">
{{>header}} <!-- Partial link for header -->


<body>
{{>navbar}} <!-- Partial link for Navbar -->

<div id="Services">
    <div class="title">
        <h2 class="sub-title">My Services</h2>
    </div>
    <div class="box">
        <div class="Services-list">
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Web Development</h2>
                {{!-- <p>We offer full-stack web development services, using the latest technologies and best practices to build engaging and
                intuitive websites that meet your unique needs and requirements. Our team of experienced developers will work closely
                with you to understand your goals and deliver a customized solution that's optimized for speed, security, and
                scalability.</p> --}}
                <a href="#">Learn more</a>
            </div>
            <div>
                <i class="fa-brands fa-app-store"></i>
                <h2>App Development</h2>
                {{!-- <p>We specialize in creating customized and user-friendly mobile applications for both iOS and Android platforms. Our team
                of experienced developers uses cutting-edge technologies and tools to design and build apps that meet your unique needs
                and specifications.</p> --}}
                    <a href="#">Learn more</a>
                </div>
                <div>
                <i class="fa-solid fa-hand-holding-hand"></i>
                <h2>Mentorship</h2>
                {{!-- <p>Our coding mentorship service provides personalized guidance and support for individuals who are looking to improve
                their coding skills and advance their careers in the tech industry. Our experienced mentors work one-on-one with you to
                identify your strengths and weaknesses, develop a customized learning plan, and provide ongoing feedback and
                encouragement as you work towards your goals.</p> --}}
                <a href="#">Learn more</a>
            </div>
        </div>
        </div>
</div>

{{>js_links}} <!-- Partial links for javascript -->
</body>
</html>