<div class="copyright">
  <!-- <p>Copyright © Dhananjoy. Made with <i class="fa-solid fa-heart"></i> </p> -->
  <p>© 2023
    <i class="fa-solid fa-heart"></i>
    Dhananjoy Mahata. All rights reserved.
  </p>
</div>