<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{! bootstrap css link }}
  <link rel="stylesheet" href="../bootstrap_css/bootstrap.min.css" />
  {{! My custom css link }}
  <link rel="stylesheet" href="../public/css/style.css" />
  <link rel="stylesheet" href="../public/css/responsive.css" />
  <script
    src="https://kit.fontawesome.com/d087934b18.js"
    crossorigin="anonymous"
  ></script>
  <title>My First Backend Project</title>
</head>