<nav id="navbar">
  <!-- <img src="Images/logo.png" class="logo"> -->
  <h1 class="logo"><span>D</span>hananjoy.</h1>
  <ul id="sidebar">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/Services">Services</a></li>
    <li><a href="/Portfolio">Portfolio</a></li>
    <li><a href="/Contact">Contact</a></li>
    <i class="fas fa-times" onclick="closemenu()"></i>
    <!-- <i class="fa-solid fa-xmark"></i> -->
  </ul>
  <i class="fas fa-bars" onclick="openmenu()"></i>
</nav>